<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>49426509086-qcf9v4gjpttefj0b5pt98f3ouq66p0go.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.49426509086-qcf9v4gjpttefj0b5pt98f3ouq66p0go</string>
	<key>API_KEY</key>
	<string>AIzaSyD4JBXXKzgWLxO6a-dQd0HKZ0nb792L3vk</string>
	<key>GCM_SENDER_ID</key>
	<string>49426509086</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dk.facial-analytics-and-modeling</string>
	<key>PROJECT_ID</key>
	<string>facial-analytics-and-modeling</string>
	<key>STORAGE_BUCKET</key>
	<string>facial-analytics-and-modeling.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:49426509086:ios:d532afbe12b0fb45b02d0f</string>
</dict>
</plist>